<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Student API Log -->
    <appender name="STUDENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/student.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/student-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Student Package -->
    <logger name="com.example.api.service.serviceLogic.StudentServiceImpl" level="DEBUG" additivity="false">
        <appender-ref ref="STUDENT"/>
    </logger>

    <!-- Console -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>